body {
    font-family: Tahoma;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    color: white;
    margin: 0;
}

h1 {
    margin-top: 20px;
    font-size: 36px;
}

.subtitle {
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    color: #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.teacher {
    background: gold;
}

.hidden {
    display: none;
}

#quiz,
#teacher {
    background: rgba(255, 255, 255, 0.2);
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.option {
    background: white;
    color: black;
    margin: 10px auto;
    padding: 12px;
    width: 80%;
    border-radius: 8px;
    cursor: pointer;
}

.option:hover {
    background: #e0f7fa;
}
