body {
    margin: 0;
    font-family: "Tajawal", Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 42px;
}

.subtitle {
    opacity: 0.9;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card {
    background: white;
    color: #333;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

.card span {
    font-size: 16px;
}

.card:hover {
    transform: scale(1.15);
    background: #f1f1f1;
}

.teacher {
    background: gold;
}

.hidden {
    display: none;
}

#quiz {
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.option {
    background: white;
    color: black;
    padding: 14px;
    margin: 12px auto;
    width: 85%;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.option:hover {
    background: #e3f2fd;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}
