body {
    margin: 0;
    font-family: "Tajawal", Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 42px;
}

.subtitle {
    opacity: 0.9;
    margin-bottom: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 25px;
    padding: 30px;
}

.card {
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    color: white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

.card span {
    font-size: 16px;
}

.card:hover {
    transform: scale(1.2) rotate(5deg);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.4);
}

.teacher {
    background: gold;
}

.hidden {
    display: none;
}

#quiz {
    padding: 20px;
}

.top-bar {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.option {
    background: white;
    color: black;
    padding: 14px;
    margin: 12px auto;
    width: 85%;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

.option:hover {
    background: #e3f2fd;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

#resultPage h2 {
    font-size: 36px;
    margin-top: 50px;
}

#scoreText {
    font-size: 28px;
    margin: 20px 0;
}
